*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 20vmin;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 50vmin;
    width: 100%;
}
.signs{
    height: 30vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sign{
    border-radius: 50%;
    height: 15vmin;
    width: 15vmin;
    transition: 1s;
}
.sign img{
    width: 14vmin;
    height: 14vmin;
}
.sign:hover{
    border: 2px solid black;
}
.score{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.you{
    text-align: center;
}
.comp{
    text-align: center;
}
.you p, .comp p{
    font-size: 8vmin;
}
.winmsg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.reset{
    border: none;
    border-radius: 1rem;
    height: 2rem;
    width: 10rem;
    font-size: 1rem; 
}